{% set python = salt['grains.filter_by']({

    'Ubuntu-12.04': {
            'pip_version': '8.1.1'
    },

    'Ubuntu-14.04': {
        'pip_version': '8.1.1'
    },

    'Unknown': {
        'pip_version': '8.1.1'
    }

}, grain='osfinger', merge=salt['pillar.get']('python',{}), default='Unknown') %}

